<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Home</title>
</head>
<body>
    <h1>Sign up to get notified when new grade is uploded</h1>
    {% from "_fromtemlates.html" import render_field %}
    <form method ="POST" action="">
        <div class = "form-field">
            {{render_field(form.username, class="field__input")}}
            <p>The user name you're using to signin to afeka website</p>
        </div>
        
        <div class = "form-field">
            {{render_field(form.password, class="field__input")}}
            <p>The password you're using to signin to afeka website</p>
        </div>

        <div class = "form-field">
            {{render_field(form.email, class="field__input")}}
            <p>Email to send nofication when new grade is uploded</p>
        </div>

        <p><input type="submit" class="button-30" value="Register"></p>
    </form>
</body>
</html>