<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>הירשם כדי להקבל הודעה כשציון מתעדכן</h1>
    {% from "_fromtemlates.html" import render_field %}
    <form method ="POST" action="">
        <div class = "from-group">
            {{render_field(form.username, class="from-control")}}
        </div>
        <div class = "from-group">
            {{render_field(form.password, class="from-control")}}
        </div>
        <div class = "from-group">
            {{render_field(form.email, class="from-control")}}
        </div>
        <p><input type="submit" class="btn btn-primary" value="הירשם"></p>
    </form>
</body>
</html>